@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");

$font-family: "Shantell Sans", "cursive";
$large-font: 1.8rem;
$medium-font: 1.2rem;
$small-font: 0.8rem;

$weather-background-colour: #a4dbe8;
$orange-colour: orange;
$white-colour: white;
